body {
  font-size: 16px;
}

h2 {
  margin: 60px 0 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

h3 {
  margin: 40px 0 20px;
}

h4 {
  margin: 20px 0 10px;
}

h5 {
  margin: 20px 0 10px;
  font-size: 16px;
}

table {
  font-size: 14px;
}

th {
  padding: 8px;
}

td {
  word-wrap: break-word;
  max-width: 200px;
  padding: 8px;
  line-height: 1.4;
}
